[Desktop Entry]
Type=Application
Name=zflow
Comment=Share your keyboard and pointer between computers
Exec=/usr/local/bin/zflow-gui
TryExec=/usr/local/bin/zflow-gui
Icon=input-keyboard
Terminal=false
Categories=Network;RemoteAccess;
Keywords=keyboard;mouse;pointer;sharing;KVM;
StartupNotify=true
